[submodule "drahts"]
	path = drahts
	url = https://github.com/lukebanana/drahtobjekte.git
[submodule "sub2"]
	path = sub2
	url = https://github.com/lukebanana/sub2.git
[submodule "sub1"]
	path = sub1
	url = https://github.com/lukebanana/sub1.git
